* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
}

li {
  margin-left: 25px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #067d7d;
  border: 2px solid #87ec13;
  border-radius: 15px;
}

.section {
  display: block;
  margin-bottom: 10px;
  background-color: #067d7d;
  border: 2px solid #87ec13;
}

.header {
  margin-bottom: 20px;
}

.nav {
  background-color: #067d7d;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.nav-list li {
  list-style: none;
}

.nav-list:hover li a {
  filter: blur(5px);
}

.nav-list:hover li a:hover {
  filter: blur(0px);  
  font-size: 20px;
  background-color: #c6ff42;
  border-radius: 15px;
}

.nav-link {
  display: block;
  padding: 0 10px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  transition: .5s;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
  transition: .5s;
}